<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <footer th:fragment="footer" id="sticky-footer" class="py-4 bg-dark text-white-50">
        <div class="container text-center">
            <small>
                <div class="row">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Back to Top</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">Login</a>
                        </li>
                    </ul>
                </div>
            </small>
        </div>
    </footer>
</body>
</html>