<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8" />-->
<!--    <title>Home</title>-->
<!--</head>-->
<!--<body>-->

<!--<h1>Guess a random number 1 - 6!</h1>-->

<!--<form action="/roll-dice" method="post">-->
<!--    <input type="text" name="guess" id="guess-ip" class="field" />-->
<!--    <button>Roll now!</button>-->
<!--</form>-->

<!--<h2 th:if="${guess}==6">-->
<!--    You guessed correctly!-->
<!--</h2>-->

<!--</body>-->
<!--</html>-->